.marquee-container {
  width: 100%;
  overflow: hidden;
  position: relative;
  padding: 1.2rem 0 0;
  background: url("../images/bg-banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  /* background: linear-gradient(to right bottom, #16031f99, #8378e89f, #8378e847); */
}

.marquee-container h2 {
  text-align: center;
}

@media (width < 500px) {
  .marquee-container h2 {
    text-align: end;
    font-size: 2.4rem;
    padding: 0 1.2rem 0 6.4rem;
  }

  .card-marquee .card-body {
    & h3 {
      font-size: 1.4rem;
    }

    & h4 {
      font-size: 1.2rem;
    }
  }

  .card-marquee .card-image{
    width: 7rem;
    height: 7rem;
  }
}

.img-left {
  position: absolute;
  visibility: visible;
  animation-name: zoomIn;
  left: -60px;
  top: 0px;
  vertical-align: middle;
}

.img-right {
  visibility: visible;
  animation-name: zoomIn;
  bottom: -50px;
  position: absolute;
  right: 0px;
  vertical-align: middle;
}

/* .marquee {
  display: flex;
  width: 200%;
  animation: marquee 25s linear infinite;
  -webkit-animation: marquee 25s linear infinite;
}

.marquee-item {
  flex: 0 0 auto;
  min-width: 20rem;
  margin-right: 1.2rem;
} */

.marquee {
  display: flex;
  width: auto;
  animation: marquee 5s linear infinite;
  -webkit-animation: marquee 5s linear infinite;
}

.marquee-item {
  flex: 0 0 clamp(10rem, 20vw, 20rem);
  margin-right: 1.2rem;
}

.marquee-item .card-marquee {
  width: 100%;
  text-align: center;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  }
}

.card-marquee {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-image {
  width: 9rem;
  height: 9rem;
  overflow: hidden;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;

  border: 0.2rem solid #16031f99;
  box-shadow: #16031f99 0px 2px 12px;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
