@media (width > 768px) {
  .smallSideBar {
    display: none;
  }
}

.smallSideBar {
  position: relative;
}

.offcanvas {
  position: absolute;

  /* background: linear-gradient(
    to bottom right,
    #e8edfd,
    #e8ecfd,
    #e9ebfc,
    #ebeafc,
    #eaeafc,
    #ebeafc
  ); */

  background: #fff;
  padding: 2.8rem 1.2rem;

  display: flex;
  flex-direction: column;
}

.offcanvas-btn {
  background: transparent;
  border: 0.1rem solid #333;
  display: flex;
  border-radius: 0.8rem;
  -webkit-border-radius: 0.8rem;
  -moz-border-radius: 0.8rem;
  -ms-border-radius: 0.8rem;
  -o-border-radius: 0.8rem;

  outline: none;
  box-shadow: none;
}

.offcanvas-btn:hover,
.offcanvas-btn:focus {
  outline: none;
  scale: 1.1;
  border: 0.1rem solid #333;
  box-shadow: none;
  background: #eee;
}

.offcanvas-btn span {
  font-size: 1.6rem;
  color: #333;
}

.offcanvas.offcanvas-start {
  width: 300px;
  height: 100vh;
  left: 0;
  top: 0;
  transform: translateX(-100%);
  transition: transform 0.5s linear;
  -webkit-transition: transform 0.5s linear;
  -moz-transition: transform 0.5s linear;
  -ms-transition: transform 0.5s linear;
  -o-transition: transform 0.5s linear;
}

.offcanvas.offcanvas-start.show {
  transform: translateX(0);
}

.offcanvas.header {
  display: flex;
  flex-direction: row;
}

.body-heading {
  margin-bottom: 1.2rem;
  border-bottom: 0.1rem solid #000;
  padding-bottom: 2rem;

  display: flex;
  justify-content: space-between;
}

.body-heading .faClose {
  font-size: 2rem;
  color: #000;
}

.offcanvas-body {
  height: 100vh;
  overflow-y: auto;
}

.overflow-y-scroll {
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.overflow-y-scroll::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  width: 0;
}

/*! Accordian */

.accordion .accordion-button {
  width: 100%;
}

.accordion .accordion-button {
  background-color: transparent;
  border: none;
  padding: 0 10px;
}

.accordion .accordion-body {
  padding: 0 10px;
}

.accordion-button:focus {
  outline: none;
}

hr{
  /* background-color: #fff; */
}