@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  font-size: 62.5%;
}

.marquee {
    width: 100%;   /* Full width */
    overflow: hidden;  /* Hides the text once it scrolls out of the box */
    white-space: nowrap;  /* Keeps the content on a single line */
  }
  
  .marquee-content {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 20s linear infinite;
    -webkit-animation: marquee 20s linear infinite;
}
  
  @keyframes marquee {
    0% {
      transform: translateX(100%);  /* Start position */
    }
    100% {
      transform: translateX(-100%);  /* End position */
    }
  }

  .sidebar-group{
    margin-bottom: 3.2rem;
  }
  