* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
html {
  font-size: 62.5%;
}

body {
  background: linear-gradient(
    to bottom right,
    #e8edfd,
    #e8ecfd,
    #e9ebfc,
    #ebeafc,
    #eaeafc,
    #ebeafc
  );
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  letter-spacing: 0.05rem;
  overflow-wrap: break-word;
  color: #351a5f;
}

h1 {
  font-size: clamp(4rem, 5vw, 6rem);
  line-height: 4.8rem;
  margin: 0.8rem 0;
}
h2 {
  font-size: 2.8rem;
  line-height: 2.8rem;
}
h3 {
  font-size: 2rem;
  line-height: 2.4rem;
}

h4 {
  font-size: 1.6rem;
  line-height: 1.6rem;
}

p {
  font-weight: 400;
  line-height: 1.2;
  font-size: 1.2rem;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 4.8rem 0;
  gap: 1.2rem;
}

.nav-item {
  width: 4rem;
  height: 4rem;
  border: 0.1rem solid transparent;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}

.nav-item.active {
  color: white;
  background: #351a5f;

  & .nav-link {
    color: white;
  }
}

.nav-item:hover {
  background: #351a5f;

  & .nav-link {
    color: white;
  }
}

.nav-item.disabled {
  border: 0.1rem solid #351a5f59;
}
